footer {
  background-color: rgba(0, 0, 0, 0.05);
}

.content{
  min-height: calc(100vh - 56px - 72px);
  padding: 1.5rem 0;
}

.itemImage{
  height: 250px;
}

.itemList{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}
.card{
  background: bisque;
}


.cart{
  position: fixed;
  bottom: 2rem;
  right: 2rem;

  cursor: pointer;
  z-index: 5;
  padding: 1rem;
  background: dodgerblue;
  color: white;

}

@media (min-width: 767px) {
  .cart{
    top: 5rem;
    bottom: unset;
  }
}